.last {
    height: 150px;
    width: 150px;
    background-color: coral;
    color: darkblue;
    display: inline-block;
    text-align: center;
    line-height: 150px;
    border: 2px solid grey;
    margin: 5px;
}